// REGISER COPMPONENT
.Register-Container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;

  // REGISTER LEFT COMPONENT
  .Left-Container {
    width: 50%;
    background: #f0f2f5;

    .Left-Inner {
      width: 100%;
      text-align: center;
      padding: 35px;
      margin-top: 10px;

      .Left-Content {
        margin: 0 auto;
        max-width: 450px;
        width: 100%;
        margin-top: 50px;

        .Register-Logo {
          color: #3c4245;
          font-weight: 500;
          text-decoration: none;
          font-size: 40px;
        }

        h2 {
          color: #02a8a8;
          font-weight: 500;
          font-size: 30px;
          margin: 35px 0;
        }

        p {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 60px;
        }

        .Register-Form {
          text-align: left;

          label {
            display: block;
            margin-bottom: 10px;
          }

          input {
            width: 100%;
            height: 40px;
            margin-bottom: 20px;

            &:focus {
              outline: none;
              border: 3px solid #02a8a8;
              box-shadow: 0 0 5px #02a8a8;
            }
          }

          button {
            width: 100%;
            background: #02a8a8;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            padding: 17px;
            border-radius: 5px;
            border-style: none;
            margin-top: 10px;
            outline: none;
            cursor: pointer;
            display: block;
            position: relative;
            box-shadow: 0 6px #347474;
            margin-bottom: 30px;

            &:hover {
              box-shadow: 0 4px #347474;
              top: 2px;
            }

            &:active {
              box-shadow: none;
              top: 6px;
            }

            &:focus {
              outline: 0;
            }
          }
        }

        .Link-To-Login {
          text-decoration: none;
          color: #02a8a8;
          font-size: 14px;
        }
      }
    }
  }

  // REGISTER RIGHT COMPONENT
  .Right-Container {
    width: 50%;
    background: #2a2a2a;
    padding: 50px;

    .Right-Inner {
      width: 100%;
      padding: 35px;
      margin-top: 70px;

      .Right-Content {
        margin: 0 auto;
        max-width: 450px;
        width: 100%;
        color: #f0f2f5;

        h3 {
          color: #00c1c0;
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 30px;
          font-size: 13.5px;
          line-height: 1.5;

          i {
            margin-right: 5px;
            margin-bottom: 5px;
          }
        }

        ul {
          margin-left: 15px;
          margin-bottom: 35px;

          li {
            margin-bottom: 9px;
            font-size: 13.5px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .Register-Container {
    .Right-Container {
      padding: 25px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .Register-Container {
    .Left-Container,
    .Right-Container {
      width: 100%;
    }
  }
}

// LOGIN COMPONENT
.Login-Container {
  border: 1px solid #f0f2f5;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  background: #fff;
  max-width: 400px;
  width: 100%;
  height: 300px;
  position: absolute;
  position: fixed;
  right: 5px;
  top: 50px;
  z-index: 201;

  .CloseLogin {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: #aaaaaa;
  }

  .Login-Inner {
    width: 365px;
    margin: 0 auto;
    margin-top: 35px;
    font-weight: 500;

    form {
      input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #aaaaaa;
        margin-bottom: 20px;
        height: 40px;

        &::placeholder {
          color: #aaaaaa;
          font-size: 13.5px;
        }

        &:focus {
          outline: none;
          border-bottom: 2px solid #02a8a8;

          &::placeholder {
            color: #02a8a8;
            font-weight: 600;
          }
        }
      }
    }

    .Forgot-Password {
      width: 100%;
      text-align: right;
      font-size: 13px;
      color: #aaaaaa;
      cursor: pointer;
      margin-top: 15px;

      i {
        margin-right: 5px;
      }

      &:hover {
        color: red;
      }
    }

    .Login-Buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;

      div {
        color: #4a4a48;
        font-size: 13px;
        display: flex;
        align-items: center;
      }

      input {
        margin-right: 7px;
      }

      button {
        color: #fff;
        background: #02a8a8;
        border: none;
        font-size: 15.5px;
        padding: 11px 22px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s all;

        &:focus {
          outline: none;
        }

        &:hover {
          box-shadow: rgba(41, 255, 173, 0.36) 0px 0px 0px 4px;
        }
      }
    }
  }
}

// LOGIN ALERT COMPONENT
.Login-Alert-Container {
  z-index: 200;
  .CloseButton {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: #f8b500;
  }

  border-radius: 4px;
  position: absolute;
  position: fixed;
  right: 5px;
  top: 355px;
  max-width: 400px;
  width: 100%;
  height: 175px;
  background: rgb(51, 51, 51);
  padding: 20px;

  .Top-Alert {
    width: 100%;
    display: flex;
    align-items: center;

    i {
      color: #f8b500;
      font-size: 55px;
      margin-right: 10px;
    }

    p {
      color: rgb(204, 204, 204);
      font-size: 13px;
    }
  }

  .Center-Alert {
    margin-top: 15px;
    color: rgb(204, 204, 204);
    font-size: 13px;

    span {
      color: #02a8a8;
    }
  }

  .Bottom-Alert {
    display: flex;
    align-items: center;
    margin-top: 20px;

    input {
      margin-right: 8px;
    }

    span {
      color: #f8b500;
      font-size: 13px;
    }
  }
}
