// REGISER COPMPONENT
.Register-Container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  margin-top: 1px;

  // REGISTER LEFT COMPONENT
  .Left-Container {
    width: 50%;
    background: #f0f2f5;

    .Left-Inner {
      width: 100%;
      text-align: center;
      padding: 35px;
      margin-top: 10px;

      .Left-Content {
        margin: 0 auto;
        max-width: 450px;
        width: 100%;

        .Register-Logo {
          color: #3c4245;
          font-weight: 500;
          text-decoration: none;
          font-size: 40px;
          margin-top: 600px;
        }

        h2 {
          color: #02a8a8;
          font-weight: 500;
          font-size: 30px;
          margin: 35px 0;
        }

        p {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 60px;
        }

        .Register-Form {
          text-align: left;

          label {
            display: block;
            margin-bottom: 10px;
          }

          input {
            width: 100%;
            height: 40px;
            margin-bottom: 20px;

            &:focus {
              outline: none;
              border: 3px solid #02a8a8;
              box-shadow: 0 0 5px #02a8a8;
            }
          }

          button {
            width: 100%;
            background: #02a8a8;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            padding: 17px;
            border-radius: 5px;
            border-style: none;
            margin-top: 10px;
            outline: none;
            cursor: pointer;
            display: block;
            position: relative;
            box-shadow: 0 6px #347474;
            margin-bottom: 30px;

            &:hover {
              box-shadow: 0 4px #347474;
              top: 2px;
            }

            &:active {
              box-shadow: none;
              top: 6px;
            }

            &:focus {
              outline: 0;
            }
          }
        }

        .Link-To-Login {
          text-decoration: none;
          color: #02a8a8;
          font-size: 14px;
        }
      }
    }
  }

  // REGISTER RIGHT COMPONENT
  .Right-Container {
    width: 50%;
    background: #2a2a2a;
    padding: 50px;

    .Right-Inner {
      width: 100%;
      padding: 35px;
      margin-top: 50px;

      .Right-Content {
        margin: 0 auto;
        max-width: 450px;
        width: 100%;
        color: #f0f2f5;

        h3 {
          color: #00c1c0;
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 30px;
          font-size: 13.5px;
          line-height: 1.5;

          i {
            margin-right: 5px;
            margin-bottom: 5px;
          }
        }

        ul {
          margin-left: 15px;
          margin-bottom: 35px;

          li {
            margin-bottom: 9px;
            font-size: 13.5px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .Register-Container {
    .Right-Container {
      padding: 25px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .Register-Container {
    .Left-Container,
    .Right-Container {
      width: 100%;
    }
  }
}
