.Download-Container {
  width: 100%;
  position: absolute;
  margin-top: 116px;
  height: auto;
  background: #2a3440;

  .Download1 {
    max-width: 1500px;
    margin: auto;
    padding: 60px 15px;
    text-align: center;

    .Download1-Top {
      padding: 15px;
      color: #dadada;

      .Booster-Logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        i {
          font-size: 45px;
          color: #27caaf;
          margin-right: 25px;
        }

        span {
          color: #27caaf;
          font-weight: 700;
          font-size: 25px;
          letter-spacing: -1px;
        }
      }

      h1 {
        font-size: 38px;
        max-width: 1050px;
        margin: auto;
        font-weight: 400;
        margin-bottom: 50px;
        line-height: 1.3;
      }

      p {
        max-width: 900px;
        margin: auto;
        line-height: 1.5;
        margin-bottom: 55px;
      }

      .Download1-Middle {
        h4 {
          font-weight: 500;
          margin-bottom: 15px;
          color: #27caaf;

          sup {
            font-size: 0.01px;
          }
        }

        .Download1-Installs {
          display: flex;
          justify-content: center;

          .Download1-Install {
            display: flex;
            align-items: center;
            color: #252525;
            background: #dadada;
            width: 225px;
            height: 80px;
            margin: 5px;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            transition: 0.9s all;

            &:hover {
              background: #000;
              color: #dadada;
            }

            i {
              font-size: 37px;
            }

            span {
              font-size: 15.5px;
              text-align: left;
              margin: 0 15px;

              strong {
                color: #079696;
              }
            }
          }
        }

        p {
          margin-top: 10px;
          color: #dadada;
          font-size: 15px;
          margin-bottom: 70px;

          strong {
            color: #27caaf;
          }
        }
      }

      .Download1-Bottom {
        width: 70%;
        margin: auto;

        img {
          width: 100%;
        }
      }
    }
  }

  .Download2 {
    max-width: 1200px;
    margin: 70px auto;
    margin-bottom: 120px;
    text-align: center;
    padding: 0 20px;

    h1 {
      font-size: 40px;
      font-weight: 900;
      text-transform: uppercase;
      color: #33b665;
      margin-bottom: 30px;
    }

    p {
      color: #dadada;
      line-height: 1.5;
      max-width: 1000px;
      margin: auto;
      font-size: 17px;
      margin-bottom: 50px;
    }

    a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 800;
      background: #309c59;
      border: none;
      border-radius: 4px;
      padding: 17px 55px;
      color: #fff;
      transition: 0.7s ease-in-out all;

      &:focus {
        outline: none;
      }

      &:hover {
        background: #195a32;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .Download-Container {
    .Download1 {
      .Download1-Top {
        .Booster-Logo {
          i {
            font-size: 42px;
          }

          span {
            font-size: 23px;
          }
        }

        h1 {
          font-size: 35px;
        }

        .Download1-Middle {
          .Download1-Installs {
            .Download1-Install {
              i {
                font-size: 34px;
              }

              span {
                font-size: 15px;
              }
            }
          }
        }

        .Download1-Bottom {
          width: 80%;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .Download-Container {
    .Download1 {
      .Download1-Top {
        .Booster-Logo {
          i {
            font-size: 40px;
          }

          span {
            font-size: 21px;
          }
        }

        h1 {
          font-size: 32px;
        }

        p {
          font-size: 15.5px;
        }

        .Download1-Middle {
          h4 {
            font-size: 16px;
          }

          .Download1-Installs {
            .Download1-Install {
              i {
                font-size: 34px;
              }

              span {
                font-size: 15px;
              }
            }
          }

          p {
            font-size: 14px;
          }
        }

        .Download1-Bottom {
          width: 90%;
        }
      }
    }

    .Download2 {
      h1 {
        font-size: 35px;
      }

      p {
        font-size: 15.5px;
      }

      a {
        font-size: 18px;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .Download-Container {
    .Download1 {
      .Download1-Top {
        h1 {
          font-size: 29px;
        }

        p {
          font-size: 15px;
        }

        .Download1-Middle {
          h4 {
            font-size: 15.5px;
          }

          .Download1-Installs {
            .Download1-Install {
              i {
                font-size: 32px;
              }

              span {
                font-size: 14.5px;
              }
            }
          }

          p {
            font-size: 13.5px;
          }
        }

        .Download1-Bottom {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .Download-Container {
    .Download1 {
      .Download1-Top {
        .Booster-Logo {
          i {
            font-size: 38px;
          }

          span {
            font-size: 21px;
          }
        }

        h1 {
          font-size: 30px;
        }

        p {
          font-size: 15px;
        }

        .Download1-Middle {
          h4 {
            font-size: 15.5px;
          }

          .Download1-Installs {
            .Download1-Install {
              padding: 5px;
              padding-left: 10px;

              i {
                font-size: 25px;
              }

              span {
                font-size: 13px;
              }
            }
          }

          p {
            font-size: 13px;
          }
        }
      }
    }

    .Download2 {
      h1 {
        font-size: 30px;
      }

      p {
        font-size: 15px;
      }

      a {
        font-size: 16.5px;
      }
    }
  }
}
