.Overview-Container {
  width: 100%;
  position: absolute;
  margin-top: 116px;
  background: #f0f2f5;
}

.Overview-Container .Overview1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
}

.Overview-Container .Overview1 .Overview1-Top {
  width: 100%;
  max-width: 1200px;
  padding: 65px 40px 35px;
  text-align: center;
  height: auto;
  margin-bottom: 10px;
}

.Overview-Container .Overview1 .Overview1-Top .Overview1-Header {
  display: block;
  font-size: 40px;
  line-height: 60px;
  color: #373737;
}

.Overview-Container .Overview1 .Overview1-Top p {
  margin: auto;
  margin-top: 25px;
  font-size: 16px;
  line-height: 18px;
  color: #373737;
  margin-bottom: 45px;
}

.Overview-Container .Overview1 .Overview1-Top .Register-Button {
  text-decoration: none;
  font-size: 18px;
  background: #02a8a8;
  border: none;
  border-radius: 4px;
  padding: 17px 35px;
  color: #fff;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
}

.Overview-Container .Overview1 .Overview1-Top .Register-Button:focus {
  outline: none;
}

.Overview-Container .Overview1 .Overview1-Top .Register-Button:hover {
  -webkit-box-shadow: rgba(41, 255, 173, 0.36) 0px 0px 0px 4px;
          box-shadow: rgba(41, 255, 173, 0.36) 0px 0px 0px 4px;
}

.Overview-Container .Overview1 .Overview1-Bottom {
  width: 100%;
  height: auto;
  margin: 35px 0;
  background-image: url("../../../src/images/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Overview-Container .Overview1 .Overview1-Bottom .Overview1-Bottom-Inner {
  margin: auto;
  width: 65%;
}

.Overview-Container .Overview1 .Overview1-Bottom .Overview1-Bottom-Inner img {
  width: 100%;
}

.Overview-Container .Overview2 {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 80px;
  padding-top: 60px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.Overview-Container .Overview2 h1 {
  font-size: 42px;
  font-weight: 400;
  color: #373737;
}

.Overview-Container .Overview2 p {
  margin: 20px 0 45px 0;
  padding: 0 40px;
}

.Overview-Container .Overview2 p .Overview2-Link {
  text-decoration: none;
  color: #02a8a8;
}

.Overview-Container .Overview2 p .Overview2-Link:hover {
  text-decoration: underline;
}

.Overview-Container .Overview2 .Overview2-Games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

.Overview-Container .Overview2 .Overview2-Games .Overview2-Game {
  width: 20%;
}

.Overview-Container .Overview2 .Overview2-Games .Overview2-Game img {
  -webkit-filter: invert(50%) sepia(10%) saturate(3150%) hue-rotate(130deg) brightness(95%) contrast(85%);
          filter: invert(50%) sepia(10%) saturate(3150%) hue-rotate(130deg) brightness(95%) contrast(85%);
  width: 100%;
}

.Overview-Container .Overview2 .Partners-p {
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 20px;
}

.Overview-Container .Overview2 .Overview2-Partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1100px;
  height: 70px;
}

.Overview-Container .Overview2 .Overview2-Partners .Overview2-Partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  padding: 10px;
}

.Overview-Container .Overview2 .Overview2-Partners .Overview2-Partner img {
  width: 100%;
  height: 25px;
  -webkit-filter: invert(100%) brightness(75%);
          filter: invert(100%) brightness(75%);
}

.Overview-Container .Overview3 {
  height: auto;
  background: #116979;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: 160px 80px;
}

.Overview-Container .Overview3 .Overview3-Left {
  max-width: 625px;
  padding: 15px;
  width: 30%;
  margin-right: 15px;
}

.Overview-Container .Overview3 .Overview3-Left p {
  color: #05dfd7;
  font-weight: 500;
  font-size: 20px;
}

.Overview-Container .Overview3 .Overview3-Left h1,
.Overview-Container .Overview3 .Overview3-Left h3,
.Overview-Container .Overview3 .Overview3-Left span,
.Overview-Container .Overview3 .Overview3-Left ul {
  color: #f5f0e3;
  font-weight: 500;
}

.Overview-Container .Overview3 .Overview3-Left h1 {
  font-size: 38px;
  margin: 20px 0;
  font-weight: 800;
}

.Overview-Container .Overview3 .Overview3-Left h3 {
  font-size: 22px;
  margin: 20px 0;
}

.Overview-Container .Overview3 .Overview3-Left ul li {
  list-style-type: none;
  margin: 5px 0;
}

.Overview-Container .Overview3 .Overview3-Left span {
  display: block;
  margin: 25px 0;
  margin-bottom: 50px;
}

.Overview-Container .Overview3 .Overview3-Left .Trial-Button {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  background: #02a8a8;
  border: none;
  border-radius: 4px;
  padding: 17px 35px;
  color: #fff;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.Overview-Container .Overview3 .Overview3-Left .Trial-Button:focus {
  outline: none;
}

.Overview-Container .Overview3 .Overview3-Left .Trial-Button:hover {
  background: #3a4858;
}

.Overview-Container .Overview3 .Overview3-Plan-Card {
  position: relative;
  width: 31%;
  color: #f5f0e3;
  padding: 10px 25px 50px;
  border-radius: 10px;
  min-height: 500px;
}

.Overview-Container .Overview3 .Overview3-Plan-Card .Plan-Svg {
  height: 130px;
}

.Overview-Container .Overview3 .Overview3-Plan-Card .Plan-Svg img {
  position: absolute;
  right: 10px;
  display: block;
}

.Overview-Container .Overview3 .Overview3-Plan-Card .Devider {
  position: absolute;
  left: 0%;
  top: 33%;
  right: 0%;
  bottom: auto;
  width: 100%;
  height: 3px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
}

.Overview-Container .Overview3 .Overview3-Plan-Card .Rewards-Devider {
  background: #58508d;
}

.Overview-Container .Overview3 .Overview3-Plan-Card .Pro-Devider {
  background: #00c1c0;
}

.Overview-Container .Overview3 .Overview3-Plan-Card .Thin-Devider {
  top: 50%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
}

.Overview-Container .Overview3 .Overview3-Plan-Card span {
  display: block;
}

.Overview-Container .Overview3 .Overview3-Plan-Card h1 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 500;
}

.Overview-Container .Overview3 .Overview3-Plan-Card .Plan-Options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 35px;
}

.Overview-Container .Overview3 .Overview3-Plan-Card .Plan-Options .Plan-Option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  font-size: 17px;
}

.Overview-Container .Overview3 .Overview3-Plan-Card .Plan-Options .Plan-Option .Rewards-Check {
  -webkit-filter: invert(50%) sepia(10%) saturate(500%) hue-rotate(100deg) brightness(80%) contrast(55%);
          filter: invert(50%) sepia(10%) saturate(500%) hue-rotate(100deg) brightness(80%) contrast(55%);
  margin-right: 15px;
}

.Overview-Container .Overview3 .Overview3-Plan-Card .Plan-Options .Plan-Option .Pro-Check {
  margin-right: 15px;
}

.Overview-Container .Overview3 .Overview3-Plan-Card .Plan-Options span {
  font-size: 15px;
  margin-top: 15px;
}

.Overview-Container .Overview3 .Rewards-Plan {
  background: #6ba8a9;
}

.Overview-Container .Overview3 .Pro-Plan {
  background: #14868c;
}

.Overview-Container .Overview4 {
  height: auto;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
}

.Overview-Container .Overview4 h1 {
  font-size: 40px;
  font-weight: 400;
  color: #373737;
  margin-top: 145px;
  padding: 0 15px;
}

.Overview-Container .Overview4 .Overview4-Icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
  padding: 20px 80px 80px 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon {
  position: relative;
  height: 275px;
  width: 275px;
  margin: 10px;
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon:hover {
  border: 1px solid #dbdbdb;
  border-radius: 7px;
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon:hover .Overview4-Detail {
  height: 100%;
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Detail {
  position: absolute;
  bottom: 0;
  height: 0%;
  width: 100%;
  background: #20b89e;
  -webkit-transition: 0.7s ease-in-out all;
  transition: 0.7s ease-in-out all;
  overflow: hidden;
  border-radius: 7px;
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Detail .Detail-Content {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Detail .Detail-Content h3,
.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Detail .Detail-Content p {
  color: #fff;
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Detail .Detail-Content h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Detail .Detail-Content p {
  font-size: 13.5px;
  font-weight: 400;
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Privacy,
.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Powerful,
.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Secure,
.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Transparent,
.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Reliable,
.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Generous {
  width: 120px;
  height: 100px;
  background-image: url("../../../src/images/logos.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Privacy span,
.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Powerful span,
.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Secure span,
.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Transparent span,
.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Reliable span,
.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Generous span {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 500;
  color: #373737;
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Privacy {
  background-position: 0px -250px;
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Powerful {
  background-position: -150px -250px;
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Secure {
  background-position: 0px -375px;
  width: 150px;
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Transparent {
  background-position: -150px -375px;
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Reliable {
  background-position: 0px -500px;
}

.Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon .Overview4-Generous {
  background-position: -150px -500px;
}

.Overview-Container .Overview5 {
  background: #2a3440;
  height: auto;
  padding: 150px 80px;
}

.Overview-Container .Overview5 h4 {
  color: #27caaf;
}

.Overview-Container .Overview5 h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 50px;
}

.Overview-Container .Overview5 .Overview5-Steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}

.Overview-Container .Overview5 .Overview5-Steps .Overview5-Step {
  width: 25%;
  padding-right: 35px;
  color: #fff;
}

.Overview-Container .Overview5 .Overview5-Steps .Overview5-Step span {
  margin-top: 15px;
  margin-bottom: 30px;
  display: block;
  background: #27caaf;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  font-size: 18px;
}

.Overview-Container .Overview5 .Overview5-Steps .Overview5-Step h5 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 30px;
}

.Overview-Container .Overview5 .Overview5-Steps .Overview5-Step p {
  font-size: 15.5px;
  font-weight: 400;
}

.Overview-Container .Overview5 .Overview5-Button {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  background: #27caaf;
  border: none;
  border-radius: 4px;
  padding: 18px 30px;
  color: #fff;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.Overview-Container .Overview5 .Overview5-Button:focus {
  outline: none;
}

.Overview-Container .Overview5 .Overview5-Button:hover {
  background: #415163;
}

.Overview-Container .Overview6 {
  height: auto;
  background: #f0f2f5;
  padding: 150px 80px;
  margin-bottom: 70px;
}

.Overview-Container .Overview6 h4 {
  color: #02a8a8;
}

.Overview-Container .Overview6 h1 {
  color: #373737;
  font-size: 42px;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 60px;
}

.Overview-Container .Overview6 .Overview6-Testimonianls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Overview-Container .Overview6 .Overview6-Testimonianls .Overview6-Testimonial {
  width: 25%;
  padding-right: 25px;
  color: #373737;
}

.Overview-Container .Overview6 .Overview6-Testimonianls .Overview6-Testimonial p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
}

.Overview-Container .Overview6 .Overview6-Testimonianls .Overview6-Testimonial span {
  font-weight: 800;
  font-size: 17px;
}

.Overview-Container .Overview6 .Overview6-Testimonianls .Overview6-Testimonial img {
  -webkit-filter: invert(100%) sepia(100%) saturate(1550%) hue-rotate(130deg) brightness(100%) contrast(80%);
          filter: invert(100%) sepia(100%) saturate(1550%) hue-rotate(130deg) brightness(100%) contrast(80%);
}

@media only screen and (max-width: 1200px) {
  .Overview-Container .Overview1 .Overview1-Bottom .Overview1-Bottom-Inner {
    width: 75%;
  }
  .Overview-Container .Overview3 {
    padding: 160px 50px;
  }
  .Overview-Container .Overview3 .Overview3-Left h1 {
    font-size: 34px;
  }
  .Overview-Container .Overview3 .Overview3-Left h3 {
    font-size: 20px;
  }
  .Overview-Container .Overview3 .Overview3-Left ul {
    font-size: 15px;
  }
  .Overview-Container .Overview3 .Overview3-Left span {
    font-size: 15px;
  }
  .Overview-Container .Overview4 {
    margin: 20px 0;
  }
}

@media only screen and (max-width: 1075px) {
  .Overview-Container .Overview3 {
    padding: 80px 110px;
  }
  .Overview-Container .Overview3 .Overview3-Left {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
  }
  .Overview-Container .Overview3 .Overview3-Left p {
    font-size: 22px;
  }
  .Overview-Container .Overview3 .Overview3-Left h1 {
    font-size: 40px;
  }
  .Overview-Container .Overview3 .Overview3-Left h3 {
    font-size: 22px;
  }
  .Overview-Container .Overview3 .Overview3-Left ul {
    font-size: 17px;
  }
  .Overview-Container .Overview3 .Overview3-Left span {
    font-size: 17px;
  }
  .Overview-Container .Overview3 .Overview3-Plan-Card {
    width: 100%;
    margin-bottom: 35px;
  }
  .Overview-Container .Overview4 .Overview4-Icons {
    padding: 10px 30px 30px 30px;
  }
  .Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon {
    height: 250px;
    width: 250px;
  }
  .Overview-Container .Overview5 {
    padding: 140px 60px;
  }
}

@media only screen and (max-width: 976px) {
  .Overview-Container .Overview1 .Overview1-Bottom .Overview1-Bottom-Inner {
    width: 80%;
  }
  .Overview-Container .Overview2 {
    margin-bottom: 30px;
    padding: 60px;
  }
  .Overview-Container .Overview2 .Overview2-Games {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Overview-Container .Overview2 .Overview2-Games .Overview2-Game {
    width: 25%;
  }
  .Overview-Container .Overview4 {
    margin: 40px 0;
  }
  .Overview-Container .Overview5 .Overview5-Steps {
    margin-bottom: 70px;
  }
  .Overview-Container .Overview5 .Overview5-Steps .Overview5-Step {
    width: 50%;
    margin-bottom: 30px;
  }
  .Overview-Container .Overview6 {
    padding: 150px 60px;
  }
  .Overview-Container .Overview6 .Overview6-Testimonianls .Overview6-Testimonial {
    width: 50%;
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 767px) {
  .Overview-Container .Overview1 .Overview1-Top .Overview1-Header {
    font-size: 32px;
    line-height: 52px;
  }
  .Overview-Container .Overview1 .Overview1-Bottom .Overview1-Bottom-Inner {
    width: 90%;
  }
  .Overview-Container .Overview2 {
    padding: 40px;
    margin-bottom: 100px;
  }
  .Overview-Container .Overview2 .Overview2-Games {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Overview-Container .Overview2 .Overview2-Games .Overview2-Game {
    width: 33.33333%;
  }
  .Overview-Container .Overview2 .Overview2-Partners .Overview2-Partner {
    width: 18%;
  }
  .Overview-Container .Overview3 {
    padding: 150px 60px;
  }
}

@media only screen and (max-width: 676px) {
  .Overview-Container .Overview4 .Overview4-Icons .Overview4-Icon {
    height: 250px;
    width: 250px;
  }
  .Overview-Container .Overview5 {
    text-align: center;
  }
  .Overview-Container .Overview5 .Overview5-Steps {
    margin-bottom: 70px;
  }
  .Overview-Container .Overview5 .Overview5-Steps .Overview5-Step {
    width: 100%;
    margin-bottom: 35px;
    padding-right: 0;
  }
  .Overview-Container .Overview5 .Overview5-Steps .Overview5-Step .Step-Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Overview-Container .Overview6 {
    text-align: center;
  }
  .Overview-Container .Overview6 .Overview6-Testimonianls .Overview6-Testimonial {
    width: 100%;
    margin-bottom: 70px;
    padding-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  .Overview-Container .Overview2 .Overview2-Games .Overview2-Game {
    width: 50%;
  }
  .Overview-Container .Overview2 .Overview2-Partners .Overview2-Partner {
    width: 25%;
  }
  .Overview-Container .Overview3 {
    padding: 150px 40px;
  }
  .Overview-Container .Overview3 .Overview3-Left p {
    font-size: 20px;
  }
  .Overview-Container .Overview3 .Overview3-Left h1 {
    font-size: 35px;
  }
  .Overview-Container .Overview3 .Overview3-Left h3 {
    font-size: 20px;
  }
  .Overview-Container .Overview3 .Overview3-Left ul {
    font-size: 15.5px;
  }
  .Overview-Container .Overview3 .Overview3-Left span {
    font-size: 15.5px;
  }
  .Overview-Container .Overview4-Icons .Overview4-Icon {
    height: 250px;
    width: 250px;
  }
}

@media only screen and (max-width: 564px) {
  .Overview-Container .Overview5 {
    padding: 140px 50px;
  }
  .Overview-Container .Overview5 h1 {
    font-size: 38px;
  }
}

@media only screen and (max-width: 450px) {
  .Overview-Container .Overview1 .Overview1-Top .Overview1-Header {
    font-size: 28px;
    line-height: 45px;
  }
  .Overview-Container .Overview1 .Overview1-Top p {
    font-size: 13.5px;
  }
  .Overview-Container .Overview1 .Overview1-Top .Register-Button {
    font-size: 16px;
    padding: 15px 30px;
  }
  .Overview-Container .Overview1 .Overview1-Bottom {
    margin-top: 10px;
  }
  .Overview-Container .Overview1 .Overview1-Bottom .Overview1-Bottom-Inner {
    width: 95%;
  }
  .Overview-Container .Overview2 {
    padding: 0 10px;
  }
  .Overview-Container .Overview2 h1 {
    font-size: 35px;
  }
  .Overview-Container .Overview2 p {
    font-size: 13.5px;
  }
  .Overview-Container .Overview2 .Overview2-Games .Overview2-Game {
    width: 50%;
  }
  .Overview-Container .Overview2 .Partners-p {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .Overview-Container .Overview2 .Overview2-Partners {
    padding: 0 25px;
  }
  .Overview-Container .Overview2 .Overview2-Partners .Overview2-Partner {
    width: 25%;
  }
  .Overview-Container .Overview3 {
    padding: 120px 40px;
  }
  .Overview-Container .Overview4 h1 {
    font-size: 35.5px;
  }
  .Overview-Container .Overview5 h1 {
    font-size: 42px;
  }
  .Overview-Container .Overview6 {
    padding-bottom: 100px;
  }
  .Overview-Container .Overview6 h1 {
    font-size: 40px;
  }
}
/*# sourceMappingURL=Overview.css.map */