.Overview-Container {
  width: 100%;
  position: absolute;
  margin-top: 116px;
  background: #f0f2f5;

  // OVERVIEW1 COMPONENT
  .Overview1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .Overview1-Top {
      width: 100%;
      max-width: 1200px;
      padding: 65px 40px 35px;
      text-align: center;

      .Overview1-Header {
        display: block;
        font-size: 40px;
        line-height: 63px;
        color: rgb(55, 55, 55);
      }

      p {
        margin: auto;
        margin-top: 25px;
        font-size: 16px;
        line-height: 18px;
        color: rgb(55, 55, 55);
        margin-bottom: 45px;
      }

      .Register-Button {
        text-decoration: none;
        font-size: 18px;
        background: #02a8a8;
        border: none;
        border-radius: 4px;
        padding: 17px 35px;
        color: #fff;

        &:focus {
          outline: none;
        }

        &:hover {
          box-shadow: rgba(41, 255, 173, 0.36) 0px 0px 0px 4px;
        }
      }
    }

    .Overview1-Bottom {
      width: 100%;
      margin-top: 35px;
      background-image: url("../../../src/images/bg.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .Overview1-Bottom-Inner {
        display: flex;
        justify-content: center;

        img {
          width: 60%;
          display: block;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .Overview-Container {
    .Overview1 {
      .Overview1-Top {
        .Overview1-Header {
          font-size: 32px;
        }
      }

      .Overview1-Bottom {
        .Overview1-Bottom-Inner {
          img {
            width: 88%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .Overview-Container {
    .Overview1 {
      .Overview1-Top {
        padding: 45px 40px 35px;
        .Overview1-Header {
          font-size: 28px;
          line-height: 50px;
        }

        p {
          font-size: 13.5px;
        }

        .Register-Button {
          font-size: 16px;
          padding: 15px 30px;
        }
      }
    }
  }
}
