.Overview-Container {
  width: 100%;
  position: absolute;
  margin-top: 116px;
  background: #f0f2f5;

  // OVERVIEW1 COMPONENT
  .Overview1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .Overview1-Top {
      width: 100%;
      max-width: 1200px;
      padding: 65px 40px 35px;
      text-align: center;

      .Overview1-Header {
        display: block;
        font-size: 40px;
        line-height: 63px;
        color: rgb(55, 55, 55);
      }

      p {
        margin: auto;
        margin-top: 25px;
        font-size: 16px;
        line-height: 18px;
        color: rgb(55, 55, 55);
        margin-bottom: 45px;
      }

      .Register-Button {
        text-decoration: none;
        font-size: 18px;
        background: #02a8a8;
        border: none;
        border-radius: 4px;
        padding: 17px 35px;
        color: #fff;

        &:focus {
          outline: none;
        }

        &:hover {
          box-shadow: rgba(41, 255, 173, 0.36) 0px 0px 0px 4px;
        }
      }
    }

    .Overview1-Bottom {
      width: 100%;
      margin: 35px 0;
      background-image: url("../../../src/images/bg.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .Overview1-Bottom-Inner {
        display: flex;
        justify-content: center;

        img {
          width: 60%;
          display: block;
          height: auto;
        }
      }
    }
  }

  // OVERVIEW2 COMPONENT
  .Overview2 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 80px;
    padding-top: 70px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      font-size: 42px;
      font-weight: 400;
      color: rgb(55, 55, 55);
    }

    p {
      margin: 20px 0 45px 0;
      padding: 0 40px;

      .Overview2-Link {
        text-decoration: none;
        color: #02a8a8;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .Overview2-Games {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1200px;

      .Overview2-Game {
        width: 20%;
        img {
          filter: invert(50%) sepia(10%) saturate(3150%) hue-rotate(130deg)
            brightness(95%) contrast(85%);
          width: 100%;
        }
      }
    }

    .Partners-p {
      margin-top: 60px;
      margin-bottom: 10px;
      font-size: 20px;
    }

    .Overview2-Partners {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      width: 100%;
      max-width: 1100px;
      height: 70px;

      .Overview2-Partner {
        display: flex;
        align-items: center;
        width: 15%;
        padding: 10px;

        img {
          width: 100%;
          height: 25px;
          filter: invert(100%) brightness(75%);
        }
      }
    }
  }

  // OVERVIEW3 COMPONENT
  .Overview3 {
    height: 85vh;
    background: #116979;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 80px;

    .Overview3-Left {
      max-width: 625px;
      padding: 15px;
      width: 30%;
      margin-right: 15px;

      p {
        color: #05dfd7;
        font-weight: 500;
        font-size: 20px;
      }

      h1,
      h3,
      span,
      ul {
        color: #f5f0e3;
        font-weight: 500;
      }

      h1 {
        font-size: 38px;
        margin: 20px 0;
        font-weight: 800;
      }

      h3 {
        font-size: 22px;
        margin: 20px 0;
      }

      ul {
        li {
          list-style-type: none;
          margin: 5px 0;
        }
      }

      span {
        display: block;
        margin: 25px 0;
        margin-bottom: 50px;
      }

      .Trial-Button {
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        background: #02a8a8;
        border: none;
        border-radius: 4px;
        padding: 17px 35px;
        color: #fff;
        transition: 0.8s all;

        &:focus {
          outline: none;
        }

        &:hover {
          background: #3a4858;
        }
      }
    }

    .Overview3-Plan-Card {
      position: relative;
      width: 31%;
      color: #f5f0e3;
      padding: 10px 25px 50px;
      border-radius: 10px;

      min-height: 500px;

      .Plan-Svg {
        height: 130px;

        img {
          position: absolute;
          right: 10px;
          display: block;
        }
      }

      .Devider {
        position: absolute;
        left: 0%;
        top: 33%;
        right: 0%;
        bottom: auto;
        width: 100%;
        height: 3px;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 0px;
      }

      .Rewards-Devider {
        background: #58508d;
      }

      .Pro-Devider {
        background: #00c1c0;
      }

      .Thin-Devider {
        top: 50%;
        height: 2px;
        background-color: hsla(0, 0%, 100%, 0.2);
      }

      span {
        display: block;
      }

      h1 {
        margin-top: 50px;
        font-size: 30px;
        font-weight: 500;
      }

      .Plan-Options {
        display: flex;
        flex-direction: column;
        margin-top: 35px;

        .Plan-Option {
          display: flex;
          margin-bottom: 15px;
          font-size: 17px;

          .Rewards-Check {
            filter: invert(50%) sepia(10%) saturate(500%) hue-rotate(100deg)
              brightness(80%) contrast(55%);
            margin-right: 15px;
          }

          .Pro-Check {
            margin-right: 15px;
          }
        }

        span {
          font-size: 15px;
          margin-top: 15px;
        }
      }
    }

    .Rewards-Plan {
      background: #6ba8a9;
    }

    .Pro-Plan {
      background: #14868c;
    }
  }

  // OVERVIEW 4 COMPONENT
  .Overview4 {
    height: 120vh;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 40px;
      font-weight: 400;
      color: rgb(55, 55, 55);
      margin-top: 145px;
      padding: 0 15px;
    }

    .Overview4-Icons {
      display: flex;
      flex-wrap: wrap;
      max-width: 1200px;
      padding: 20px 80px 80px 80px;
      justify-content: center;

      .Overview4-Icon {
        position: relative;

        height: 275px;
        width: 275px;
        margin: 25px;

        &:hover {
          border: 1px solid #dbdbdb;
          border-radius: 7px;

          .Overview4-Detail {
            height: 100%;
          }
        }

        .Overview4-Detail {
          position: absolute;
          bottom: 0;
          height: 0%;
          width: 100%;
          background: #20b89e;
          transition: 0.7s ease-in-out all;
          overflow: hidden;
          border-radius: 7px;

          .Detail-Content {
            width: 100%;
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3,
            p {
              color: #fff;
            }

            h3 {
              font-size: 16px;
              font-weight: 500;
              margin-bottom: 15px;
            }

            p {
              font-size: 13.5px;
              font-weight: 400;
            }
          }
        }

        .Overview4-Privacy,
        .Overview4-Powerful,
        .Overview4-Secure,
        .Overview4-Transparent,
        .Overview4-Reliable,
        .Overview4-Generous {
          width: 120px;
          height: 100px;
          background-image: url("../../../src/images/logos.png");

          background-repeat: no-repeat;
          position: absolute;
          left: 50%;
          top: 50%;

          transform: translate(-50%, -50%);

          span {
            position: absolute;
            left: 50%;
            top: 100%;

            transform: translate(-50%, -50%);
            font-size: 18px;
            font-weight: 500;
            color: rgb(55, 55, 55);
          }
        }

        .Overview4-Privacy {
          background-position: 0px -250px;
        }

        .Overview4-Powerful {
          background-position: -150px -250px;
        }

        .Overview4-Secure {
          background-position: 0px -375px;
          width: 150px;
        }

        .Overview4-Transparent {
          background-position: -150px -375px;
        }

        .Overview4-Reliable {
          background-position: 0px -500px;
        }

        .Overview4-Generous {
          background-position: -150px -500px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .Overview-Container {
    .Overview3 {
      padding: 50px;

      .Overview3-Left {
        h1 {
          font-size: 34px;
        }

        h3 {
          font-size: 20px;
        }

        ul {
          font-size: 15px;
        }

        span {
          font-size: 15px;
        }
      }
    }

    .Overview4 {
      .Overview4-Icons {
        padding: 10px 30px 30px 30px;
      }
    }
  }
}

@media only screen and (max-width: 1075px) {
  .Overview-Container {
    .Overview3 {
      padding: 80px 110px;
      height: 210vh;

      .Overview3-Left {
        width: 100%;
        text-align: center;
        margin-bottom: 60px;

        p {
          font-size: 22px;
        }

        h1 {
          font-size: 40px;
        }

        h3 {
          font-size: 22px;
        }

        ul {
          font-size: 17px;
        }

        span {
          font-size: 17px;
        }
      }

      .Overview3-Plan-Card {
        width: 100%;
        margin-bottom: 35px;
      }
    }

    .Overview4 {
      .Overview4-Icons {
        padding: 10px 30px 30px 30px;

        .Overview4-Icon {
          height: 250px;
          width: 250px;
        }
      }
    }
  }
}

@media only screen and (max-width: 976px) {
  .Overview-Container {
    .Overview2 {
      margin-bottom: 30px;
      padding: 60px;
      .Overview2-Games {
        justify-content: center;
        .Overview2-Game {
          width: 25%;
        }
      }
    }

    .Overview4 {
      height: 140vh;
    }
  }
}

@media only screen and (max-width: 767px) {
  .Overview-Container {
    .Overview1 {
      .Overview1-Top {
        .Overview1-Header {
          font-size: 32px;
        }
      }

      .Overview1-Bottom {
        .Overview1-Bottom-Inner {
          img {
            width: 88%;
          }
        }
      }
    }

    .Overview2 {
      height: 100vh;
      padding: 40px;
      .Overview2-Games {
        justify-content: center;
        .Overview2-Game {
          width: 33.33333%;
        }
      }

      .Overview2-Partners {
        .Overview2-Partner {
          width: 18%;
        }
      }
    }

    .Overview3 {
      padding: 60px;
    }
  }
}

@media only screen and (max-width: 676px) {
  .Overview-Container {
    .Overview4 {
      height: 265vh;

      .Overview4-Icons {
        padding: 10px 30px 30px 30px;

        .Overview4-Icon {
          height: 275px;
          width: 275px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Overview-Container {
    .Overview2 {
      height: 120vh;
      .Overview2-Games {
        .Overview2-Game {
          width: 50%;
        }
      }

      .Overview2-Partners {
        .Overview2-Partner {
          width: 25%;
        }
      }
    }

    .Overview3 {
      height: 215vh;
      .Overview3-Left {
        p {
          font-size: 20px;
        }

        h1 {
          font-size: 35px;
        }

        h3 {
          font-size: 20px;
        }

        ul {
          font-size: 15.5px;
        }

        span {
          font-size: 15.5px;
        }
      }
      padding: 40px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .Overview-Container {
    .Overview1 {
      .Overview1-Top {
        .Overview1-Header {
          font-size: 28px;
          line-height: 50px;
        }

        p {
          font-size: 13.5px;
        }

        .Register-Button {
          font-size: 16px;
          padding: 15px 30px;
        }
      }
    }

    .Overview2 {
      padding: 0 10px;
      height: 130vh;

      h1 {
        font-size: 35px;
      }

      p {
        font-size: 13.5px;
      }

      .Overview2-Games {
        .Overview2-Game {
          width: 50%;
        }
      }

      .Partners-p {
        margin-top: 50px;
        margin-bottom: 0;
      }

      .Overview2-Partners {
        padding: 0 25px;
        .Overview2-Partner {
          width: 25%;
        }
      }
    }

    .Overview3 {
      height: 260vh;
    }

    .Overview4 {
      height: 330vh;

      h1 {
        font-size: 35.5px;
      }
    }
  }
}
