.Directions-Container {
  width: 100%;
  position: absolute;
  margin-top: 116px;
  background: #f0f2f5;
  height: auto;

  // DIRECTIONS1 COMPONENT
  .Directions1 {
    margin-top: 25px;
    margin-bottom: 50px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .Directions1-Top {
      color: rgb(55, 55, 55);
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1 {
        font-size: 40px;
        font-weight: 400;
        line-height: 63px;
      }

      p {
        line-height: 18px;
        margin-top: 20px;
        max-width: 1200px;
        line-height: 1.5;
        color: #353535;
      }
    }

    .Directions1-Bottom {
      .Directions1-Paths {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 150px;
        justify-content: space-evenly;

        .Directions1-Path {
          padding: 15px;
          width: 30%;
          margin: 10px;
          text-align: center;

          .Path-Image {
            img {
              filter: invert(30%) sepia(60%) saturate(2150%) hue-rotate(430deg)
                brightness(85%) contrast(65%);
            }
          }

          h3 {
            font-size: 22px;
            font-weight: 500;
            margin: 15px 0;
            color: #02a8a8;
          }

          p {
            color: #353535;
          }
        }
      }
    }
  }

  // DIRECTIONS2 COMPONENT
  .Directions2 {
    height: auto;
    padding: 50px;
    padding-top: 15px;
    margin-bottom: 150px;

    .Directions2-Top {
      text-align: center;
      line-height: 1.45;

      h1 {
        font-size: 40px;
        font-weight: 400;
        line-height: 63px;

        strong {
          color: #02a8a8;
        }
      }

      h3 {
        color: #353535;
        font-size: 24px;
        font-weight: 600;
        margin-top: 25px;
        margin-bottom: 8px;
      }

      span {
        color: #353535;
        display: block;
        max-width: 800px;
        font-size: 18px;
        margin: auto;
      }
    }

    .Directions2-Bottom {
      .Directions2-Steps {
        .Directions2-Step {
          margin: 45px auto;
          max-width: 800px;

          display: flex;
          justify-content: space-between;

          .Step-Left {
            i {
              color: #02a8a8;
              font-size: 50px;
            }
          }

          .Step-Right {
            width: 75%;
            line-height: 1.45;

            h3 {
              font-size: 22px;
              color: #353535;
              font-weight: 600;
              margin-bottom: 20px;
            }

            span {
              display: block;
              font-size: 17px;
            }
          }
        }

        p {
          max-width: 800px;
          margin: auto;
          font-size: 20px;
          color: #02a8a8;
          font-weight: 500;
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .Directions-Container {
    .Directions1 {
      height: auto;
      .Directions1-Bottom {
        .Directions1-Paths {
          padding: 30px 70px;

          .Directions1-Path {
            padding: 5px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .Directions-Container {
    .Directions1 {
      .Directions1-Bottom {
        .Directions1-Paths {
          padding: 30px 50px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .Directions-Container {
    .Directions1 {
      .Directions1-Bottom {
        .Directions1-Paths {
          padding: 30px 10px;

          .Directions1-Path {
            margin: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .Directions-Container {
    .Directions1 {
      .Directions1-Top {
        h1 {
          font-size: 35px;
          line-height: 55px;
        }

        p {
          font-size: 16px;
        }
      }
      .Directions1-Bottom {
        .Directions1-Paths {
          .Directions1-Path {
            width: 75%;
            margin-bottom: 35px;

            p {
              font-size: 16px;
            }
          }
        }
      }
    }

    .Directions2 {
      padding: 25px;
      .Directions2-Top {
        h1 {
          font-size: 35px;
          line-height: 55px;
        }

        h3 {
          font-size: 22px;
        }

        span {
          font-size: 16px;
        }
      }

      .Directions2-Bottom {
        .Directions2-Steps {
          p {
            font-size: 18px;
          }

          .Directions2-Step {
            .Step-Right {
              width: 80%;

              h3 {
                font-size: 21px;
              }

              span {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .Directions-Container {
    .Directions1 {
      .Directions1-Top {
        h1 {
          font-size: 28px;
          line-height: 50px;
        }

        p {
          font-size: 14.5px;
        }
      }

      .Directions1-Bottom {
        margin-top: 25px;
        .Directions1-Paths {
          padding: 0;
          .Directions1-Path {
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 14.5px;
            }
          }
        }
      }
    }

    .Directions2 {
      padding: 0 25px;
      margin-bottom: 120px;

      .Directions2-Top {
        h1 {
          font-size: 29px;
          line-height: 50px;
        }

        h3 {
          font-size: 22px;
        }

        span {
          font-size: 14.5px;
        }
      }

      .Directions2-Bottom {
        .Directions2-Steps {
          .Directions2-Step {
            .Step-Left {
              i {
                font-size: 40px;
              }
            }

            .Step-Right {
              width: 80%;

              h3 {
                font-size: 20px;
              }

              span {
                font-size: 14.5px;
              }
            }
          }

          p {
            font-size: 14.5px;
          }
        }
      }
    }
  }
}
