.Features-Container {
  width: 100%;
  position: absolute;
  margin-top: 116px;
  background: #f0f2f5;
  height: auto;

  // FEATURES1 COMPONENT
  .Features1 {
    height: auto;

    .Features1-Top {
      color: rgb(55, 55, 55);
      padding: 0 25px;
      margin-top: 65px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1 {
        font-size: 40px;
        font-weight: 400;
      }

      p {
        font-size: 16px;
        line-height: 18px;
        margin-top: 20px;
      }
    }

    .Features1-Bottom {
      color: rgb(55, 55, 55);

      .Features1-Features {
        padding: 50px 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: calc(100%);

        .Features1-Feature {
          width: 30%;
          margin: 15px;
          padding: 10px 30px;

          i {
            color: #02a8a8;
            font-size: 35px;
          }

          h2 {
            font-weight: 400;
            font-size: 27px;
            margin: 25px 0;
          }

          p {
            line-height: 1.7;
            font-size: 15px;
            span {
              color: #02a8a8;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  // FEATURES2 COMPONENT
  .Features2 {
    height: auto;
    padding: 0 80px;

    text-align: center;
    color: rgb(55, 55, 55);
    margin-top: 80px;
    margin-bottom: 160px;

    .Features2-Top {
      margin-bottom: 20px;

      h1 {
        font-size: 40px;
        font-weight: 400;
      }

      hr {
        border: none;
        border-bottom: 7px solid #02a8a8;
        width: 95px;
        border-radius: 20px;
        margin: auto;
      }
    }

    h3 {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 80px;
    }

    .Features2-Button {
      text-decoration: none;
      font-size: 18px;
      background: #02a8a8;
      border: none;
      border-radius: 4px;
      padding: 17px 35px;
      color: #fff;
      transition: 0.4s ease-in-out all;

      &:focus {
        outline: none;
      }

      &:hover {
        background: #252525;
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .Features-Container {
    .Features1 {
      .Features1-Bottom {
        .Features1-Features {
          padding: 50px 150px;

          .Features1-Feature {
            padding: 10px 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .Features-Container {
    .Features1 {
      .Features1-Bottom {
        .Features1-Features {
          padding: 50px 100px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .Features-Container {
    .Features1 {
      .Features1-Bottom {
        .Features1-Features {
          padding: 50px;

          .Features1-Feature {
            padding: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .Features-Container {
    .Features1 {
      .Features1-Bottom {
        .Features1-Features {
          padding: 50px 40px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .Features-Container {
    .Features1 {
      .Features1-Bottom {
        .Features1-Features {
          padding: 50px 10px;
        }
      }
    }

    .Features2 {
      padding: 0 20px;
    }
  }
}

@media only screen and (max-width: 950px) {
  .Features-Container {
    .Features1 {
      .Features1-Bottom {
        .Features1-Features {
          .Features1-Feature {
            width: 45%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 825px) {
  .Features-Container {
    .Features2 {
      margin-top: 40px;
    }
  }
}

@media only screen and (max-width: 650px) {
  .Features-Container {
    .Features1 {
      padding: 25px;
      .Features1-Top {
        h1 {
          font-size: 35px;
        }

        p {
          font-size: 15px;
        }
      }
      .Features1-Bottom {
        .Features1-Features {
          .Features1-Feature {
            width: 100%;
            text-align: center;

            p {
              font-size: 14px;
            }
          }
        }
      }
    }

    .Features2 {
      .Features2-Top {
        h1 {
          font-size: 37px;
        }

        hr {
          width: 80px;
        }
      }

      h3 {
        font-size: 19px;
      }

      p {
        font-size: 15px;
      }

      .Features2-Button {
        font-size: 16.5px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .Features-Container {
    .Features2 {
      margin-top: none;
    }
  }
}
