.MainNavBar {
  height: 45px;
  background: #f0f2f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 200;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.MainNavBar .Brand-Logo,
.MainNavBar .Register-Button,
.MainNavBar .Login-Button {
  text-decoration: none;
}

.MainNavBar .Brand-Logo {
  color: #02a8a8;
  font-size: 35px;
  margin-left: 10px;
}

.MainNavBar .Button-Container {
  margin: 15px;
}

.MainNavBar .Button-Container span {
  background: #fffdf9;
  color: #02a8a8;
  padding: 1px 4px;
  border-radius: 100%;
  font-weight: 800;
  margin: 5px;
  font-size: 12px;
}

.MainNavBar .Button-Container .Register-Button {
  background: #02a8a8;
  color: #fffdf9;
  padding: 7px 10px;
  font-weight: 600;
  font-size: 13.5px;
  border-radius: 5px;
  margin-right: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.MainNavBar .Button-Container .Register-Button:hover {
  -webkit-box-shadow: rgba(41, 255, 173, 0.36) 0px 0px 0px 4px;
          box-shadow: rgba(41, 255, 173, 0.36) 0px 0px 0px 4px;
}

.MainNavBar .Button-Container .Login-Button {
  background: #fff;
  padding: 5px 10px;
  border: 1px solid #232020;
  color: #232020;
  font-weight: 600;
  border-radius: 5px;
  font-size: 13.5px;
  margin-right: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.MainNavBar .Button-Container .Login-Button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 4px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 4px;
}

.SubNavBar {
  width: 100%;
  height: 70px;
  margin-top: 45px;
  position: fixed;
  z-index: 200;
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 7px 31px 0px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 7px 31px 0px;
}

.SubNavBar .Home-Link {
  border-bottom: 3px solid #02a8a8;
}

.SubNavBar .Inner-Container {
  width: 100%;
  height: 100%;
  max-width: 1150px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.SubNavBar .Inner-Container .SubNav-Link {
  width: 15%;
  height: 100%;
  text-decoration: none;
  color: #5f6769;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  font-weight: 500;
}

.SubNavBar .Inner-Container .SubNav-Link:focus {
  color: #171a22;
  border-bottom: 3px solid #02a8a8;
}

.SubNavBar .Inner-Container .SubNav-Link .SubNav-Logo {
  display: block;
  font-size: 20px;
  margin-bottom: 3px;
}

@media only screen and (max-width: 675px) {
  .SubNavBar .Inner-Container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (max-width: 475px) {
  .SubNavBar .Inner-Container .SubNav-Link span {
    display: none;
  }
}
/*# sourceMappingURL=NavBar.css.map */