.MainNavBar {
  height: 45px;
  background: #f0f2f5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .Brand-Logo,
  .Register-Button,
  .Login-Button {
    text-decoration: none;
  }

  .Brand-Logo {
    color: #fffdf9;
    background: #02a8a8;
    padding: 5px 10px;
    margin: 3px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 700;
    margin-left: 15px;
  }

  .Button-Container {
    margin: 15px;

    span {
      background: #fffdf9;
      color: #02a8a8;
      padding: 1px 4px;
      border-radius: 100%;
      font-weight: 800;
      margin: 5px;
      font-size: 12px;
    }

    .Register-Button {
      background: #02a8a8;
      color: #fffdf9;
      padding: 7px 10px;
      font-weight: 600;
      font-size: 13.5px;
      border-radius: 5px;
      margin-right: 15px;
      transition: 0.3s all;

      &:hover {
        box-shadow: rgba(41, 255, 173, 0.36) 0px 0px 0px 4px;
      }
    }

    .Login-Button {
      background: #fff;
      padding: 5px 10px;
      border: 1px solid #232020;
      color: #232020;
      font-weight: 600;
      border-radius: 5px;
      font-size: 13.5px;
      margin-right: 15px;
      transition: 0.3s all;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 4px;
      }
    }
  }
}
