// MAIN NAV BAR COMPONENT
.MainNavBar {
  height: 45px;
  background: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 200;
  width: 100%;
  border-bottom: 1px solid lightgray;

  .Brand-Logo,
  .Register-Button,
  .Login-Button {
    text-decoration: none;
  }

  .Brand-Logo {
    color: #02a8a8;
    font-size: 35px;
    margin-left: 10px;
  }

  .Button-Container {
    margin: 15px;

    span {
      background: #fffdf9;
      color: #02a8a8;
      padding: 1px 4px;
      border-radius: 100%;
      font-weight: 800;
      margin: 5px;
      font-size: 12px;
    }

    .Register-Button {
      background: #02a8a8;
      color: #fffdf9;
      padding: 7px 10px;
      font-weight: 600;
      font-size: 13.5px;
      border-radius: 5px;
      margin-right: 15px;
      transition: 0.3s all;

      &:hover {
        box-shadow: rgba(41, 255, 173, 0.36) 0px 0px 0px 4px;
      }
    }

    .Login-Button {
      background: #fff;
      padding: 5px 10px;
      border: 1px solid #232020;
      color: #232020;
      font-weight: 600;
      border-radius: 5px;
      font-size: 13.5px;
      margin-right: 15px;
      transition: 0.3s all;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 4px;
      }
    }
  }
}

// SUB NAV BAR COMPONENT
.SubNavBar {
  width: 100%;
  height: 70px;
  margin-top: 45px;
  position: fixed;
  z-index: 200;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 7px 31px 0px;

  .Home-Link {
    border-bottom: 3px solid #02a8a8;
  }

  .Inner-Container {
    width: 100%;
    height: 100%;
    max-width: 1150px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    .SubNav-Link {
      width: 15%;
      height: 100%;
      text-decoration: none;
      color: #5f6769;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 15px;
      font-weight: 500;

      &:focus {
        color: rgb(23, 26, 34);
        border-bottom: 3px solid #02a8a8;
      }

      .SubNav-Logo {
        display: block;
        font-size: 20px;
        margin-bottom: 3px;
      }
    }
  }
}

@media only screen and (max-width: 675px) {
  .SubNavBar {
    .Inner-Container {
      justify-content: space-around;
    }
  }
}

@media only screen and (max-width: 475px) {
  .SubNavBar {
    .Inner-Container {
      .SubNav-Link {
        span {
          display: none;
        }
      }
    }
  }
}
