.Pricing-Container {
  width: 100%;
  position: absolute;
  margin-top: 116px;
  height: auto;
  background: #2a3440;
}

.Pricing-Container .Pricing1 {
  height: auto;
  text-align: center;
}

.Pricing-Container .Pricing1 .Pricing1-Top {
  max-width: 1200px;
  margin: auto;
  padding: 50px 15px;
}

.Pricing-Container .Pricing1 .Pricing1-Top h1 {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  color: #27caaf;
  margin-bottom: 30px;
}

.Pricing-Container .Pricing1 .Pricing1-Top h3 {
  color: #dadada;
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 10px;
}

.Pricing-Container .Pricing1 .Pricing1-Top h5 {
  color: #27caaf;
  text-transform: uppercase;
  font-size: 15px;
}

.Pricing-Container .Pricing1 .Pricing1-Middle {
  max-width: 350px;
  margin: auto;
  margin-bottom: 15px;
  color: #dadada;
  font-weight: 500;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #364353;
  border-radius: 5px;
  padding: 5px;
  border-top: 5px solid #27caaf;
}

.Pricing-Container .Pricing1 .Pricing1-Middle h5 {
  color: #27caaf;
}

.Pricing-Container .Pricing1 .Pricing1-Middle .Subscription-Plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Pricing-Container .Pricing1 .Pricing1-Middle .Subscription-Plans .Subscription-Plan {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Pricing-Container .Pricing1 .Pricing1-Middle .Subscription-Plans .Subscription-Plan label {
  margin-bottom: 5px;
}

.Pricing-Container .Pricing1 .Pricing1-Middle .Subscription-Plans .Subscription-Plan select {
  border: 2px solid #02a8a8;
  background: #fff;
  color: #02a8a8;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  margin: auto;
  padding: 0 15px;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left,
.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right {
  background: #364353;
  color: #dadada;
  border-radius: 8px;
  margin: 15px;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left h1,
.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right h1 {
  font-size: 30px;
  margin: 35px;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Options,
.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Options {
  text-align: left;
  margin: auto;
  width: 70%;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Options .Plan-Option,
.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Options .Plan-Option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Options .Plan-Option i,
.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Options .Plan-Option i {
  width: 20%;
  text-align: center;
  font-size: 30px;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Options .Plan-Option span,
.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Options .Plan-Option span {
  width: 65%;
  font-size: 18px;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Status,
.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Status {
  margin-top: 45px;
  height: 100px;
  border-top: 2px solid #535252;
  font-size: 30px;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left {
  border-top: 10px solid #d8b9c3;
  width: 40%;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left h1 {
  color: #d8b9c3;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Options .Plan-Option i {
  color: #d8b9c3;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d8b9c3;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right {
  width: 60%;
  border-top: 10px solid #27caaf;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right h1 {
  color: #27caaf;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Options .Plan-Option i {
  color: #27caaf;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #27caaf;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Status .Plan-Price {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Status .Plan-Price h3 {
  font-size: 20px;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Status .Plan-Price p {
  margin-top: 5px;
  font-size: 15px;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Status button {
  width: 50%;
  border: none;
  border-bottom-right-radius: 8px;
  background: #27caaf;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  font-size: 23px;
  color: #fff;
  cursor: pointer;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Status button:focus {
  outline: none;
}

.Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Status button:hover {
  background: #16817a;
}

.Pricing-Container .Pricing2 {
  text-align: center;
  max-width: 1200px;
  margin: 100px auto;
  padding: 20px;
}

.Pricing-Container .Pricing2 h1 {
  font-size: 37px;
  font-weight: 900;
  text-transform: uppercase;
  color: #27caaf;
  margin-bottom: 25px;
}

.Pricing-Container .Pricing2 .Supported-Games {
  max-width: 500px;
  margin: auto;
  color: #dadada;
  margin-bottom: 40px;
}

.Pricing-Container .Pricing2 .Supported-Games h2 {
  font-weight: 600;
  font-size: 23px;
}

.Pricing-Container .Pricing2 .Supported-Games ul {
  max-width: 155px;
  text-align: left;
  margin: auto;
  margin-top: 10px;
}

.Pricing-Container .Pricing2 .Supported-Games ul li {
  margin-bottom: 5px;
  list-style-type: disc;
  font-size: 15px;
}

.Pricing-Container .Pricing2 .Supported-Games ul li a {
  color: #27caaf;
  text-decoration: none;
}

.Pricing-Container .Pricing2 .Supported-Games ul li a:hover {
  color: #2df1d1;
}

.Pricing-Container .Pricing2 .System-Req {
  color: #dadada;
}

.Pricing-Container .Pricing2 .System-Req h2 {
  font-weight: 600;
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Pricing-Container .Pricing2 .System-Req ul {
  max-width: 275px;
  margin: auto;
  margin-bottom: 70px;
}

.Pricing-Container .Pricing2 .System-Req ul li {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 15px;
}

.Pricing-Container .Pricing2 .Pricing-Button {
  text-decoration: none;
  font-size: 18px;
  background: #02a8a8;
  border: none;
  border-radius: 4px;
  padding: 17px 55px;
  color: #fff;
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
}

.Pricing-Container .Pricing2 .Pricing-Button:focus {
  outline: none;
}

.Pricing-Container .Pricing2 .Pricing-Button:hover {
  background: #16817a;
}

@media only screen and (max-width: 1235px) {
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Options,
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Options {
    width: 75%;
  }
}

@media only screen and (max-width: 1160px) {
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Options,
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Options {
    width: 85%;
  }
}

@media only screen and (max-width: 1035px) {
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Options,
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Options {
    width: 90%;
  }
}

@media only screen and (max-width: 985px) {
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Options,
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Options {
    width: 100%;
  }
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Options .Plan-Option span,
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Options .Plan-Option span {
    width: 75%;
  }
}

@media only screen and (max-width: 900px) {
  .Pricing-Container .Pricing1 .Pricing1-Bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left {
    width: calc(100% - 30px);
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Options {
    width: 50%;
  }
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right {
    width: calc(100% - 30px);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Options {
    width: 70%;
  }
}

@media only screen and (max-width: 675px) {
  .Pricing-Container .Pricing1 .Pricing1-Top h1 {
    font-size: 37px;
  }
  .Pricing-Container .Pricing1 .Pricing1-Top h3 {
    font-size: 17px;
  }
  .Pricing-Container .Pricing1 .Pricing1-Top h5 {
    font-size: 13.5px;
  }
}

@media only screen and (max-width: 650px) {
  .Pricing-Container .Pricing1 .Pricing1-Top h3 {
    font-size: 14px;
  }
  .Pricing-Container .Pricing1 .Pricing1-Top h5 {
    font-size: 12px;
  }
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Options {
    width: 60%;
  }
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Options {
    width: 80%;
  }
  .Pricing-Container .Pricing2 h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 550px) {
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Options {
    width: 70%;
  }
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Options {
    width: 90%;
  }
  .Pricing-Container .Pricing2 h1 {
    font-size: 25px;
  }
  .Pricing-Container .Pricing2 .Supported-Games h2 {
    font-size: 20px;
  }
  .Pricing-Container .Pricing2 .System-Req h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .Pricing-Container .Pricing1 .Pricing1-Top h1 {
    font-size: 33px;
  }
  .Pricing-Container .Pricing1 .Pricing1-Top h3 {
    font-size: 13.5px;
  }
  .Pricing-Container .Pricing1 .Pricing1-Top h5 {
    font-size: 11.5px;
  }
  .Pricing-Container .Pricing1 .Pricing1-Middle {
    margin: 0 30px;
  }
  .Pricing-Container .Pricing1 .Pricing1-Bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Options {
    width: 90%;
  }
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Left .Plan-Options .Plan-Option span {
    font-size: 16px;
  }
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Options {
    width: 100%;
  }
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Options .Plan-Option span {
    width: 80%;
    font-size: 16px;
  }
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Status .Plan-Price h3 {
    font-size: 17px;
  }
  .Pricing-Container .Pricing1 .Pricing1-Bottom .Pricing1-Right .Plan-Status button {
    font-size: 20px;
  }
  .Pricing-Container .Pricing2 h1 {
    font-size: 30px;
  }
  .Pricing-Container .Pricing2 .Supported-Games h2 {
    font-size: 25px;
  }
  .Pricing-Container .Pricing2 .System-Req h2 {
    font-size: 25px;
  }
}
/*# sourceMappingURL=Pricing.css.map */