.Pricing-Container {
  width: 100%;
  position: absolute;
  margin-top: 116px;
  height: auto;
  background: #2a3440;

  .Pricing1 {
    border: 2px solid yellow;

    height: auto;
    text-align: center;

    .Pricing1-Top {
      max-width: 1200px;
      margin: auto;
      padding: 50px 15px;

      h1 {
        font-size: 40px;
        font-weight: 900;
        text-transform: uppercase;
        color: #27caaf;
        margin-bottom: 30px;
      }

      h3 {
        color: #dadada;
        font-weight: 500;
        font-size: 19px;
        margin-bottom: 10px;
      }

      h5 {
        color: #27caaf;
        text-transform: uppercase;
        font-size: 15px;
        margin-bottom: 50px;
      }

      .Pricing-Button {
        text-decoration: none;
        font-size: 18px;
        background: #02a8a8;
        border: none;
        border-radius: 4px;
        padding: 17px 35px;
        color: #fff;
        transition: 0.4s ease-in-out all;

        &:focus {
          outline: none;
        }

        &:hover {
          background: #16817a;
        }
      }
    }

    .Pricing1-Middle {
      color: red;

      select {
        border: 2px solid red;
        background: yellow;

        color: blue;
      }
    }

    .Pricing1-Bottom {
      display: flex;
      max-width: 1300px;
      margin: auto;

      .Pricing1-Left,
      .Pricing1-Right {
        background: #364353;
        color: #dadada;
        border-radius: 8px;
        margin: 15px;

        h1 {
          font-size: 30px;
          margin: 35px;
        }

        .Plan-Options {
          text-align: left;
          margin: auto;
          width: 70%;

          .Plan-Option {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 10px 0;

            i {
              width: 20%;
              text-align: center;
              font-size: 30px;
            }

            span {
              width: 65%;
              font-size: 18px;
            }
          }
        }

        .Plan-Status {
          margin-top: 45px;
          height: 100px;
          border-top: 2px solid rgb(83, 82, 82);
          font-size: 30px;
        }
      }

      .Pricing1-Left {
        border-top: 10px solid #d8b9c3;
        width: 40%;

        h1 {
          color: #d8b9c3;
        }

        .Plan-Options {
          .Plan-Option {
            i {
              color: #d8b9c3;
            }
          }
        }

        .Plan-Status {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #d8b9c3;
        }
      }

      .Pricing1-Right {
        width: 60%;
        border-top: 10px solid #27caaf;

        h1 {
          color: #27caaf;
        }

        .Plan-Options {
          .Plan-Option {
            i {
              color: #27caaf;
            }
          }
        }

        .Plan-Status {
          display: flex;
          color: #27caaf;

          .Plan-Price {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3 {
              font-size: 20px;
            }

            p {
              margin-top: 5px;
              font-size: 15px;
            }
          }

          button {
            width: 50%;
            border: none;
            border-bottom-right-radius: 8px;
            background: #27caaf;
            transition: 0.8s all;
            font-size: 23px;
            color: #fff;
            cursor: pointer;

            &:focus {
              outline: none;
            }

            &:hover {
              background: #16817a;
            }
          }
        }
      }
    }
  }
}
