@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.Footer {
  width: 100%;
  background: #252525;
  height: auto;

  .Footer-Top {
    width: 100%;
    background: #252525;
    height: auto;
    border-bottom: 1px solid #363636;
    padding: 25px;
    text-align: center;
    font-family: "Share Tech Mono", monospace;

    .Footer-Signup {
      p {
        color: #02a8a8;
        margin-bottom: 15px;
        font-size: 20px;
        text-transform: uppercase;
      }

      form {
        margin: 15px;
        display: flex;
        justify-content: center;
        input {
          border: none;
          border: 3px solid #dadada;
          background: #dadada;
          padding: 10px;
          width: 250px;
          border-radius: none !important;

          &:focus {
            outline: none;
            border: 3px solid #02a8a8;
            box-shadow: 0 0 5px #02a8a8;
          }
        }

        .Signup-Button {
          border: none;
          border: 3px solid #dadada;
          padding: 10px;
          background: #dadada;
          font-family: "Share Tech Mono", monospace;
          cursor: pointer;

          &:focus {
            outline: none;
          }

          &:hover {
            background: #02a8a8;
            border: 3px solid #02a8a8;
            box-shadow: 0 0 5px #02a8a8;
            color: #dadada;
          }
        }
      }
    }
  }

  .Footer-Bottom {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: auto;

    .Footer-Content {
      width: 16.6666666%;
      color: #dadada;
      padding: 100px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: 1s ease-in-out all;
      text-align: center;
      border: 1px solid #363636;

      &:hover {
        background: #02a8a8;
      }

      .Content-Icon {
        font-size: 40px;
        margin-bottom: 20px;
      }

      .Content-Link {
        color: #dadada;
        text-decoration: none;
        text-align: center;
        transition: 0.5s ease-in-out all;

        &:hover {
          color: #393e46;
        }
      }

      .Content-SNS {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;

        i {
          font-size: 25px;
          margin: 5px 7px;
          transition: 0.5s ease-in-out all;

          &:hover {
            color: #393e46;
            cursor: pointer;
          }
        }
      }
    }

    .Last-Content {
      color: #dadada;
      font-size: 11px;
      text-align: right;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .Footer {
    .Footer-Bottom {
      .Footer-Content {
        padding: 75px 15px;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .Footer {
    .Footer-Bottom {
      .Footer-Content {
        padding: 45px 15px;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .Footer {
    .Footer-Bottom {
      .Footer-Content {
        width: 33.333333%;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .Footer {
    .Footer-Bottom {
      .Footer-Content {
        .Content-Icon {
          font-size: 35px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 675px) {
  .Footer {
    .Footer-Bottom {
      .Footer-Content {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 499px) {
  .Footer {
    .Footer-Top {
      .Footer-Signup {
        p {
          font-size: 16px;
        }

        form {
          input {
            width: 200px;
          }
        }
      }
    }

    .Footer-Bottom {
      .Footer-Content {
        padding: 50px 10px;
        p {
          font-size: 13px;
        }

        .Content-SNS {
          margin-bottom: 5px;
          i {
            margin: 5px;
            font-size: 20px;
          }
        }
      }

      .Last-Content {
        font-size: 10px;
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .Footer {
    .Footer-Bottom {
      .Footer-Content {
        p {
          font-size: 12px;
        }
      }
    }
  }
}
